@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --background: white;
  --text-primary: white;
  --text-secondary: royalblue;
  --accent: purple;
}
[data-theme="dark"] {
  --background: #081229;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}
